In [2]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as snr
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('/content/Housing (1).csv')

In [4]:
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
df.describe()

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

In [7]:
#One Hot Encoding
df['mainroad']=df['mainroad'].apply({'yes':1,'no':2}.get)

In [8]:
df['guestroom']=df['guestroom'].apply({'yes':3 ,'no':4}.get)
df['basement']=df['basement'].apply({'yes':5,'no':6}.get)
df['hotwaterheating']=df['hotwaterheating'].apply({'yes':7,'no':8}.get)

In [9]:
df['airconditioning']=df['airconditioning'].apply({'yes':9,'no':10}.get)
df['prefarea']=df['prefarea'].apply({'yes':11,'no':12}.get)
df['furnishingstatus']=df['furnishingstatus'].apply({'unfurnished':13,'semi-furnished':14,'furnished':15}.get)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    int64
 6   guestroom         545 non-null    int64
 7   basement          545 non-null    int64
 8   hotwaterheating   545 non-null    int64
 9   airconditioning   545 non-null    int64
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    int64
 12  furnishingstatus  545 non-null    int64
dtypes: int64(13)
memory usage: 55.5 KB

In [11]:
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2        11                15
1  12250000  8960         4  ...        3        12                15
2  12250000  9960         3  ...        2        11                14
3  12215000  7500         4  ...        3        11                15
4  11410000  7420         4  ...        2        12                15

[5 rows x 13 columns]

In [12]:
#Independent set of Data
X=df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
X.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2        11                15
1  8960         4          4  ...        3        12                15
2  9960         3          2  ...        2        11                14
3  7500         4          2  ...        3        11                15
4  7420         4          1  ...        2        12                15

[5 rows x 12 columns]

In [13]:
#Dependent set of Data
Y=df[['price']]
Y.head()

      price
0  13300000
1  12250000
2  12250000
3  12215000
4  11410000

In [14]:
#Model Building using Logistic Regression 
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.4)

In [15]:
len(X_train)

327

In [16]:
len(X_test)

218

In [17]:
len(Y_train)

327

In [18]:
len(Y_test)

218

In [19]:
from sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()

In [20]:
logmodel.fit(X_train,Y_train)
predictions=logmodel.predict(X_test)
print(predictions)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[4200000 4200000 8400000 3500000 4200000 8400000 3500000 3500000 3500000
 4200000 3500000 5250000 3500000 5250000 3500000 3500000 8400000 8400000
 4200000 4200000 3500000 3500000 4200000 5250000 5250000 3500000 3500000
 4200000 5250000 3500000 4200000 8400000 4200000 4200000 4200000 4200000
 5250000 5250000 3500000 4200000 5250000 4200000 5250000 5250000 4200000
 8400000 5250000 4200000 5250000 4200000 5250000 4200000 3500000 5250000
 3500000 3500000 3500000 4200000 3500000 3500000 3500000 3500000 5250000
 4200000 4200000 3500000 3500000 4200000 4200000 8400000 3500000 5250000
 3500000 3500000 3500000 4200000 4200000 3500000 5250000 3500000 5250000
 5250000 3500000 3500000 5250000 3500000 5250000 5250000 3500000 3500000
 3500000 4200000 8400000 3500000 4200000 8400000 5250000 3500000 3500000
 8400000 3500000 4200000 4200000 3500000 3500000 5250000 5250000 3500000
 4200000 4200000 3500000 4200000 3500000 3500000 4200000 3500000 8400000
 4200000 4200000 8400000 4200000 4200000 4200000 4200000 8400000 8400000
 3500000 4200000 3500000 8400000 5250000 3500000 5250000 4200000 5250000
 8400000 8400000 8400000 5250000 4200000 3500000 4200000 3500000 5250000
 3500000 3500000 8400000 8400000 4200000 5250000 4200000 5250000 3500000
 4200000 3500000 5250000 5250000 3500000 5250000 4200000 8400000 5250000
 4200000 3500000 4200000 4200000 5250000 3500000 4200000 5250000 4200000
 5250000 3500000 3500000 4200000 3500000 4200000 3500000 3500000 4200000
 3500000 5250000 3500000 4200000 4200000 3500000 3500000 5250000 5250000
 5250000 5250000 4200000 4200000 5250000 3500000 3500000 5250000 3500000
 3500000 8400000 5250000 3500000 4200000 3500000 4200000 3500000 3500000
 8400000 3500000 4200000 3500000 4200000 4200000 3500000 8400000 3500000
 5250000 4200000]

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [21]:
#performance matrices
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,predictions)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,predictions)

0.022935779816513763