In [49]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as snr
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
df=pd.read_csv("/content/Housing (1).csv")

In [52]:
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [54]:
df.describe()

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

In [55]:
#One Hot Encoding
df['mainroad']=df['mainroad'].apply({'yes':1,'no':2}.get)

In [56]:
df['guestroom']=df['guestroom'].apply({'yes':3 ,'no':4}.get)
df['basement']=df['basement'].apply({'yes':5,'no':6}.get)
df['hotwaterheating']=df['hotwaterheating'].apply({'yes':7,'no':8}.get)

In [57]:
df['airconditioning']=df['airconditioning'].apply({'yes':9,'no':10}.get)
df['prefarea']=df['prefarea'].apply({'yes':11,'no':12}.get)
df['furnishingstatus']=df['furnishingstatus'].apply({'unfurnished':13,'semi-furnished':14,'furnished':15}.get)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    int64
 6   guestroom         545 non-null    int64
 7   basement          545 non-null    int64
 8   hotwaterheating   545 non-null    int64
 9   airconditioning   545 non-null    int64
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    int64
 12  furnishingstatus  545 non-null    int64
dtypes: int64(13)
memory usage: 55.5 KB

In [59]:
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2        11                15
1  12250000  8960         4  ...        3        12                15
2  12250000  9960         3  ...        2        11                14
3  12215000  7500         4  ...        3        11                15
4  11410000  7420         4  ...        2        12                15

[5 rows x 13 columns]

In [60]:
#Independent set of Data
X=df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
X.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2        11                15
1  8960         4          4  ...        3        12                15
2  9960         3          2  ...        2        11                14
3  7500         4          2  ...        3        11                15
4  7420         4          1  ...        2        12                15

[5 rows x 12 columns]

In [61]:
#Dependent set of Data
Y=df[['price']]
Y.head()

      price
0  13300000
1  12250000
2  12250000
3  12215000
4  11410000

In [62]:
#Model Building using Linear Regression 
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [63]:
len(X_train)

436

In [64]:
len(X_test)

109

In [65]:
len(Y_train)

436

In [66]:
len(Y_test)

109

In [67]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [68]:
model.fit(X_train,Y_train)
predictions=model.predict(X_test)
print(predictions)

[[2591233.57842849]
 [4747996.4769901 ]
 [2733795.93478916]
 [7599805.0405915 ]
 [4649128.18401125]
 [4369051.96672398]
 [2891720.48165059]
 [2260806.37447135]
 [9845060.18570986]
 [4109252.25549111]
 [3402800.97258684]
 [3102314.04114843]
 [5319536.57020263]
 [6027470.99150111]
 [3214610.61090487]
 [3690889.92981328]
 [5733987.68039059]
 [3962492.38984417]
 [4337271.5721782 ]
 [3755942.94256192]
 [2631939.10200796]
 [3332204.34568999]
 [7014105.94658944]
 [5928511.68888699]
 [2629307.3864513 ]
 [2711709.86359662]
 [2802305.86166402]
 [6204059.34433574]
 [4976993.83482144]
 [3184591.04480221]
 [8326274.75858691]
 [2597791.69056074]
 [4558238.5768543 ]
 [3119664.78980147]
 [6540856.7649905 ]
 [5367811.80162834]
 [4214206.5413341 ]
 [6319160.47433425]
 [6127623.19927029]
 [5748671.24813456]
 [2815206.98194809]
 [2114435.33839633]
 [3244042.7785165 ]
 [4814590.29773414]
 [6143517.58956672]
 [6976470.72451303]
 [3871803.36794424]
 [3080186.17575509]
 [3094121.80448272]
 [4912559.8892792 ]
 [5198760.71351314]
 [4099941.651028  ]
 [2677167.4615407 ]
 [4309031.36651056]
 [5137772.90175936]
 [7353616.81819324]
 [3892264.09091309]
 [5599225.11423554]
 [3933107.873815  ]
 [4262857.43827953]
 [4036994.84141785]
 [6916006.80393815]
 [6943967.46656238]
 [7444694.66966509]
 [5009453.5060973 ]
 [3516641.59915248]
 [2605302.31832845]
 [6644736.35269665]
 [2968983.4043594 ]
 [4332014.79317531]
 [2677167.4615407 ]
 [3226089.06196739]
 [2894263.58729784]
 [5606169.73065942]
 [5573476.18880508]
 [4539161.32059782]
 [4102844.51401627]
 [5707341.5539859 ]
 [3479786.59333185]
 [3574178.48528269]
 [2898994.1796203 ]
 [3228772.37463737]
 [3188066.85105791]
 [6450995.00186592]
 [3495106.94258636]
 [5928054.33148863]
 [3762130.81095239]
 [7309010.98747997]
 [4945000.02032567]
 [5245075.98809151]
 [2555672.02320868]
 [5232114.99061207]
 [5704645.01380665]
 [2684808.32742366]
 [3950649.60075181]
 [3288473.86305883]
 [4051699.25346156]
 [4167614.09198062]
 [3345046.17605687]
 [4645454.53645562]
 [3982705.87263199]
 [2734324.04336299]
 [4214516.9620726 ]
 [3146907.35060769]
 [3101539.71207302]
 [4428340.10732455]
 [3160059.49313659]
 [4243980.61538504]
 [6658238.47398286]]

In [69]:
data={'area':7420,'bedrooms':4,'bathrooms':2,'stories':2,'mainroad':1,'guestroom':4,'basement':5,'hotwaterheating':7,'airconditioning':9,'parking':2,'prefarea':12,'furnishingstatus':15}

In [70]:
index=[1]

In [72]:
cust_df=pd.DataFrame(data,index)

In [73]:
cust_df

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
1  7420         4          2  ...        2        12                15

[1 rows x 12 columns]

In [74]:
predictions_cust=model.predict(cust_df)
print('The Inurance cost of the new customer will be',predictions_cust)

The Inurance cost of the new customer will be [[8532387.45277771]]